.polllist{
    margin-top: 50px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.polllink{
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;
    background-color: #4e74b6;
    min-width: 30%;
}