.card{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    padding: 5px;
    border: none;
    border-radius: 12px;
    width: fit-content;

    transition: all .2s ease;

    &:hover{
        box-shadow: 5px 5px 5px #babec5;
    }
}