@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./assets/bg.png');
  color: #edf5e1;


  li{
    list-style-type: none;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

}
